{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #69707a;
        background-color: #fff;
        border: 1px solid #c5ccd6;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
{% endblock css %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="container px-5 mt-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        {% if request.user.profile.profile_image %}
                            <img src="{{ request.user.profile.profile_image.url }}" width="120" class="img-circle center-block">
                        {% else %}
                            <img src="{% static 'images/default_profile.png' %}" width="120" class="img-circle center-block">
                        {% endif %}
                        <label for="profile_image" class="form-label mt-2">Upload new profile image</label>
                        <input type="file" class="form-control" name="profile_image" id="profile_image">
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            <input class="form-control" id="inputUsername" name="username" type="text"
                                   placeholder="Enter your username" value="{{ user.username }}">
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First Name</label>
                                <input class="form-control" id="inputFirstName" name="first_name" type="text"
                                       placeholder="Enter your first name" value="{{ user.first_name }}">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last Name</label>
                                <input class="form-control" id="inputLastName" name="last_name" type="text"
                                       placeholder="Enter your last name" value="{{ user.last_name }}">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email Address</label>
                            <input class="form-control" id="inputEmailAddress" name="email" type="email"
                                   placeholder="Enter your email address" value="{{ user.email }}">
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone Number</label>
                                <input class="form-control" id="inputPhone" name="phone" type="tel"
                                       placeholder="Enter your phone number"
                                       value="{{ user.profile.phone|default:'' }}">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" name="birthday" type="date" placeholder="Enter your birthday" value="{{ user.profile.dob }}">
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
