{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "login.css"%}">
{% endblock css %}
{% block content %}
{% if messages %}
    {% for messages in messages %}
        <div  class="alert alert-danger" role="alert">
            {{messages}}
        </div>
    {% endfor %}
{% endif%}
<div class="wrapper">
    <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/2170/2170153.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Login
    </div>
    <form class="p-3 mt-3" method = "post">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="name" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-10">
        <a href="#">Forget password?</a> or <a href="{% url "signup"%}">Sign up</a>
    </div>
</div>
{% endblock content %}