{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock css %}

{% block content %}
<div class="wrapper">
    <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/3064/3064197.png" alt="">
    </div>

    <div class="text-center mt-4 name">
        Set New Password
    </div>

    <form method="post" class="p-3 mt-3">
        {% csrf_token %}

        <div class="form-field d-flex align-items-center">
            {{ form.new_password1 }}
        </div>

        <div class="form-field d-flex align-items-center">
            {{ form.new_password2 }}
        </div>

        <button class="btn mt-3" type="submit">
            Reset Password
        </button>
    </form>
</div>
{% endblock content %}
