body{
    margin: 0;
    padding: 0;
    font-family: 'roboto' , sans-serif;
    background-color: #F2F2F2;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-md-4 {
  width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .col-md-4 {
    width: 100%;
  }
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
}

h1{
    text-align: center;
    color: #333333;
}
.cardcontainer{
    width: 350px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}
.cardcontainer:hover{
    box-shadow: 0 0 45px gray;
}
.photo{
    height: 300px;
    width: 100%;
}
.photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
}
.txt1{
    margin: auto;
    text-align: center;
    font-size: 17px;
}
.content{
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -33px;
}
.photos{
    width: 90px;
    height: 30px;
    background-color: #E74C3C;
    color: white;
    position: relative;
    top: -30px;
    padding-left: 10px;
    font-size: 20px;
}
.txt4{
    font-size:29px;
    position: relative;
    top: 33px;
    margin-bottom: 20px;
}
.txt5{
    position: relative;
    top: 18px;
    color: #E74C3C;
    font-size: 23px;
    margin-top: 10px;
}
.txt2{
    position: relative;
    top: 10px;
}
.cardcontainer:hover > .photo{
    height: 200px;
    animation: move1 0.5s ease both;
}
@keyframes move1{
    0%{height: 300px}
    100%{height: 200px}
}
.cardcontainer:hover > .content{
    height: 200px;
}
.footer{
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    top: -15px;
}
.btn{
    position: relative;
    top: 20px;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .cardcontainer {
        width: 90%;
        height: auto;
        margin: 10px auto;
    }
    .photo {
        height: 200px;
    }
    .content {
        width: 90%;
        height: auto;
        top: -20px;
    }
    .txt4 {
        font-size: 24px;
        top: 20px;
    }
    .txt2 {
        top: 5px;
    }
    .footer {
        width: 90%;
        height: auto;
        top: -10px;
    }
    .btn {
        top: 10px;
    }
    .cardcontainer:hover > .photo {
        height: 150px;
    }
    .cardcontainer:hover > .content {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cardcontainer {
        width: 300px;
        height: 450px;
    }
    .photo {
        height: 250px;
    }
    .content {
        width: 85%;
    }
    .txt4 {
        font-size: 26px;
    }
    .cardcontainer:hover > .photo {
        height: 180px;
    }
    .cardcontainer:hover > .content {
        height: 180px;
    }
}

@media (min-width: 992px) {
    .cardcontainer {
        width: 350px;
        height: 500px;
    }
}
