/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    color: #555;
    margin: 2%;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

/* Enhanced responsive adjustments */
@media (max-width: 767px) {
    .wrapper {
        max-width: 90%;
        margin: 50px auto;
        padding: 30px 20px 20px 20px;
        min-height: 450px;
    }
    .logo {
        width: 60px;
    }
    .logo img {
        height: 60px;
    }
    .wrapper .name {
        font-size: 1.2rem;
    }
    .wrapper .form-field input {
        font-size: 1rem;
        padding: 8px 12px 8px 8px;
    }
    .wrapper .btn {
        height: 35px;
        font-size: 0.9rem;
    }
    .wrapper a {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper {
        max-width: 400px;
        margin: 60px auto;
        padding: 35px 25px 25px 25px;
    }
    .logo {
        width: 70px;
    }
    .logo img {
        height: 70px;
    }
    .wrapper .name {
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 350px;
        margin: 80px auto;
        padding: 40px 30px 30px 30px;
    }
}
